<!DOCTYPE html>
<html lang="en" ng-controller="DownloadController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{book.title}}</title>
    </head>
    <body>
        <div class="container-fluid" style="display: none;" ng-show="readyToShow">
            <div class="row">
                <div class="col-xs-12 col-sm-12 space-bottom">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Book URL" ng-model="book.url" ng-disabled="book.downloading" >
                        <span class="input-group-addon">
                            <button type="button" ng-click="doDownload()" ng-disabled="book.downloading">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="loading" ng-if="book.downloading">
                        <img src="img/loading-indicator.gif">Downloading book, please wait...
                    </div>
                    <h1>{{book.title}}</h1>
                    <h3>{{book.author}}</h3>
                    <h3>{{book.category}}</h3>
                    <h4>{{book.editor}}</h4>
                    <blockquote class="text-italic">{{book.shortDesc}}</blockquote>
                    <img ng-if="book.imgUrl" ng-src="{{book.imgUrl}}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 chapter-nav">
                    <ul class="chapter-list">
                        <li class="chapter-item" ng-repeat="chapter in book.chapters">
                            <a href="" ng-click="gotoChapter(chapter.id)">{{chapter.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 chapter-content">
                    <div class="single-chapter" ng-repeat="chapter in book.chapters" ng-include="'views/chapter.html'"></div>
                </div>
            </div>
        </div> <!-- /container -->
        <script type="text/javascript" src="../libs/requirejs/require.js" data-main="js/conf/debug-config"></script>
    </body>
</html>